# run from project directory
# docker compose -f ./etc/docker-compose/docker-compose.local.dookug-document-service.oracle.yml up --build --force-recreate
#
# enter container
# docker exec -it dookug-document-service /bin/bash
services:
  jaeger:
    container_name: jaeger
    image: jaegertracing/all-in-one:1.54.0
    volumes:
        - './etc/jaeger/sampling_strategies.json:/etc/jaeger/sampling_strategies.json'
    ports:
        - '6831:6831/udp'
        - '16686:16686'

  opentelemetry-collector:
    container_name: opentelemetry-collector
    #TODO collector "The number of requests this listener has served" but should have "Number of all requests"
    image: otel/opentelemetry-collector:0.92.0
    # contrib collector repo e.g. tail_sampling processor
    # https://github.com/open-telemetry/opentelemetry-collector-contrib
    # image: otel/opentelemetry-collector-contrib:0.123.0
    command: [--config=/etc/otel-collector-config.yaml]
    volumes:
      - ./etc/opentelemetry/otel-collector-config.yaml:/etc/otel-collector-config.yaml
      #- ../config/opentelemetry/otel-collector-probabilistic-sampling-config.yaml:/etc/otel-collector-config.yaml
      #- ../config/opentelemetry/otel-collector-tail-sampling-config.yaml:/etc/otel-collector-config.yaml
      # example sampling strategies to otelcol 
      - ./etc/jaeger/sampling_strategies.json:/etc/otelcol/sampling_strategies.json
    ports:
      - 1888:1888 # pprof extension
      - 8888:8888 # Prometheus metrics exposed by the collector
      - 8889:8889 # Prometheus exporter metrics
      - 13133:13133 # health_check extension
      - 4317:4317 # OTLP gRPC receiver
      - 4318:4318 # OTLP http receiver
      - 55679:55679 # zpages extension
      - 1234:1234 # /metrics endpoint
  module-dookug-postgredb:
    container_name: module-dookug-postgredb
    image: icellmobilsoft/db-base-postgres_148:${DBDWH_IMAGE_VERSION}
    environment:
      - POSTGRES_USER=postgres
      - POSTGRES_PASSWORD=postgres
    ports:
      - '5432:5432'
    volumes:
      - module-dookug-postgredb-data:/var/lib/postgresql/data
    healthcheck:
      test: [ 'CMD', 'pg_isready' ]
      interval: 2s

  ##run liquibase
  dookug-liquibase:
    container_name: module-dookug-liquibase
    image: icellmobilsoft/dookug_db:${DOOKUG_LIQUIBASE_VERSION}
    environment:
      AUTO_INSTALL: postgresql
    depends_on:
      module-dookug-postgredb:
        condition: service_healthy

  dookug-document-service-developer:
    container_name: dookug-document-service
    image: icellmobilsoft/dookug-document-service-postgres:2.0.0
    volumes:
      - './etc/fonts/:/home/icellmobilsoft/fonts'
      - './etc/fop-config/:/home/icellmobilsoft/fop-config'
      - './etc/keys/pdf/keystore.p12:/home/icellmobilsoft/keys/keystore.p12'
      - './etc/pdfsign/sample/signature-green.png:/home/icellmobilsoft/pdfsign/sample/signature.png'
      - './etc/handlebars/helper/js:/home/icellmobilsoft/handlebars/helper/js'
      - './etc/keys/test-eszigno.pfx:/home/icellmobilsoft/keys/keystore.pfx'
    ports:
      - '8082:8080'
      - '9992:9990'
      - '8789:8787'
    environment:
      org_apache_deltaspike_ProjectStage: Development
      CONSOLE_LOGGING_JSON_ENABLED: false
      CONSOLE_LOGGING_ENABLED: true
      LOGSTASH_ENABLED: false
      LOGGING_ROOT_LOGGER_LOGLEVEL: INFO
      LOGGING_HU_ICELLMOBILSOFT_LOGGER_LOGLEVEL: DEBUG
      DEBUG: true
      HIBERNATE_DIALECT: org.hibernate.dialect.PostgreSQLDialect
      POSTGRESQL_DS_CONNECTION_URL: jdbc:postgresql://module-dookug-postgredb:5432/dookug_db?currentSchema=dookug
      POSTGRESQL_DS_USERNAME: postgres
      POSTGRESQL_DS_PASSWORD: postgres
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_SAMPLEDSS_KEYSTOREPASS: 123456
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_SAMPLEDSS_KEYALIAS: 'test'
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_SAMPLEPROFILE_KEYSTOREPASS: 123456
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_SAMPLEPROFILE_KEYALIAS: 'test'
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_SAMPLEPROFILE_KEYSTORE: /home/icellmobilsoft/keys/keystore.p12
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_SAMPLEPROFILE_USEEUDSSSIG: true
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_SAMPLEPROFILE_DSS_USELT: true
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_SAMPLEPROFILE_DSS_TSPSOURCES: http://timestamp.digicert.com
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_SAMPLEPROFILE_DSS_IMAGEFILE: /home/icellmobilsoft/pdfsign/sample/signature.png
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_SAMPLEPROFILE_DSS_SHOWONPAGE: 0

      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_KEYSTOREPASS: AbcE1234
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_KEYSTORETYPE: PKCS12
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_KEYALIAS: '1'
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_KEYSTORE: /home/icellmobilsoft/keys/keystore.pfx
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_DSS_ENCRYPTIONALGORITHM: ECDSA
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_PDFBOX_SIGNATUREALGORITHM: SHA256withECDSA
      #DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_DSS_DIGESTALGORITHM: SHA256
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_USEEUDSSSIG: true
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_DSS_USELTA: true
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_DSS_TSPSOURCES: http://timestamp.digicert.com
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_DSS_IMAGEFILE: /home/icellmobilsoft/pdfsign/sample/signature.png
      DOOKUG_SERVICE_ENGINE_PDF_DIGITALSIGN_ESZIGNO_DSS_SHOWONPAGE: 0
      
#      OPENTRACING_JAEGER_AGENT_HOST: jaeger
#      JAEGER_SERVICE_NAME: dookug-document-service
      OPENTELEMETRY_SERVICE_NAME: dookug-document-service
      # alternative config
#      OTEL_SERVICE_NAME: bs-sample-service
      OPENTELEMETRY_SAMPLER_TYPE: on # default is ratio with 0.01
      # 1. -> jaeger, hagyomanyos
      #OPENTELEMETRY_EXPORTER_ENDPOINT: http://jaeger:14250
      # 2. -> jaeger otlp
      #OPENTELEMETRY_EXPORTER_TYPE: otlp # default is jaeger
      #OPENTELEMETRY_EXPORTER_ENDPOINT: http://jaeger:4317
      # 3. -> otlp-collector -> jaeger otlp
      OPENTELEMETRY_EXPORTER_TYPE: otlp # default is otlp, "The 'jaeger' exporter is no longer supported.", but the docs say its allowed
      OPENTELEMETRY_EXPORTER_ENDPOINT: http://opentelemetry-collector:4317
      MICROMETER_ENDPOINT: http://opentelemetry-collector:4318/v1/metrics

    deploy:
      resources:
        limits:
          memory: 1G
        reservations:
          memory: 512M
    depends_on:
      dookug-liquibase:
        condition: service_completed_successfully
networks: 
  default:
    external: true
    # if missing: docker network create dookug-local-network
    name: dookug-local-network
volumes:
  module-dookug-postgredb-data:
    name: module-dookug-postgredb-data
